// Este layout es para el resto proyectos.
//
// Clinical Dashboard, Therapist Signup, Edge y Marketplace.
//
layout {
  tab name="clinical_dashboard" focus=true cwd="~/projects/luna-project/provider-portal" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="therapist-signup" cwd="~/projects/luna-project/therapist-credentialing-backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane

      pane {
        pane // Este abre en la carpeta backend

        pane {
          cwd "~/projects/luna-project/therapist-credentialing-frontend"
        }  
      }
      
    }
  }

  tab name="edge" cwd="~/projects/luna-project/backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane
  }

  tab name="marketplace" cwd="~/projects/luna-project/marketplace" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane
  }
}
