// Este layout todos los proyectos de DevAsPros.
//
// Cash Flow, CoshiNotes, Enlacito, etc.
//
layout {
  tab name="cashflow (1)" focus=true cwd="~/projects/devaspros-projects/cashflow" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="coshinotes (2)" cwd="~/projects/devaspros-projects/coshinotes" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="enlacito (3)" cwd="~/projects/devaspros-projects/enlacito" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="laboratorio (4)" cwd="~/projects/laboratorio_de_ruby" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  // Para tener un espacio para dotfiles, Puntapie, etc
  tab name="libre (5)" cwd="~/projects/devaspros-projects/" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="high_perf_psql_rails (6)" cwd="~/projects/high_perf_psql_rails" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="supermenu (7)" cwd="~/projects/devaspros-projects/supermenu" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="dotfiles (8)" cwd="~/projects/dotfiles" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }
}
