// Este layout todos los proyectos de Luna en los que participo.
//
// Patient Self Report, Therapist Signup, Clinical Dashboard, Edge y Marketplace.
//
layout {
  tab name="patient-self-report" focus=true cwd="~/projects/luna-project/patient-forms-backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane

      pane {
        pane size="75%" // Este abre en la carpeta backend

        pane size="25%" {
          cwd "~/projects/luna-project/patient-forms-frontend"
        }  
      }
      
    }
  }

  tab name="therapist-signup" cwd="~/projects/luna-project/therapist-credentialing-backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane

      pane {
        pane size="75%" // Este abre en la carpeta backend

        pane size="25%" {
          cwd "~/projects/luna-project/therapist-credentialing-frontend"
        }  
      }
      
    }
  }

  tab name="clinical-dashboard" cwd="~/projects/luna-project/provider-portal" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane

      pane {
        pane size="75%" // Este abre en la carpeta backend

        pane size="25%" {
          cwd "~/projects/luna-project/clinical-dashboard-frontend"
        }  
      }
      
    }
  }

  tab name="edge" cwd="~/projects/luna-project/backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="marketplace" cwd="~/projects/luna-project/marketplace" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }
}
