// Este layout todos los proyectos de Luna en los que participo.
//
//   -  Edge (Forms y Clinical Dashboard backends)
//   -  Therapist Signup Backend
//   -  Frontend apps: Patient Self Report, Therapist Sign Up y Clinical Dashboard
//   -  free (para usos diversos)
//
layout {
  tab name="edge" focus=true cwd="~/projects/luna-project/backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="therapist-signup" cwd="~/projects/luna-project/therapist-credentialing-backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="frontend-apps" cwd="~/projects/luna-project/patient-forms-frontend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane {
        cwd "~/projects/luna-project/therapist-credentialing-frontend"
      }
      pane {
        cwd "~/projects/luna-project/clinical-dashboard-frontend"
      }
    }
  }

  // This is a tab to use when creating new git worktrees. So that I don't need to
  // create smaller panes in the current tab.
  tab name="free" cwd="~/projects/luna-project" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }
}
