// Este layout todos los proyectos de Luna en los que participo.
//
//   -  Clinical: monolito principal
//   -  Frontend apps: Patient Self Report, Credentialing, Clinical Dashboard y Echo
//   -  luna-project: para poner scripts o iniciar sesiones de Claude globales
//
layout {
  tab name="clinical" focus=true cwd="~/projects/luna-project/backend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }

  tab name="frontend-apps" cwd="~/projects/luna-project/patient-forms-frontend" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane // Este abre patient-forms-frontend

      pane split_direction="horizontal" {
        pane {
          cwd "~/projects/luna-project/therapist-credentialing-frontend"
        }
        pane {
          cwd "~/projects/luna-project/echo-frontend"
        }
      }

      pane {
        cwd "~/projects/luna-project/clinical-dashboard-frontend"
      }
    }
  }

  tab name="luna-project" cwd="~/projects/luna-project" {
    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane
      pane
    }
  }
}
