## Explore Therapist Signup Bucket
#
# s3ls luna-alpha-workloads-therapist-signup/UUID
function alpha_signup_files() {
  setaws alpha

  s3ls "luna-alpha-workloads-therapist-signup/$1/"
}

## Print the installed gem version provided in the parameter
#
# cat_gemfile devise
function cat_gemfile() {
  cat Gemfile.lock | grep $1
}