## Explore Therapist Signup Bucket
#
# s3ls luna-alpha-workloads-therapist-signup/UUID
function alpha_signup_files() {
  setaws alpha

  s3ls "luna-alpha-workloads-therapist-signup/$1/"
}

## Print the installed gem version provided in the parameter
#
# cat_gemfile devise
function cat_gemfile() {
  cat Gemfile.lock | grep $1
}

## Log into service Pod
#
# alpha_service_pod forms pod_id
function alpha_service_pod() {
  kubectl exec -it -n $1 $1-$2 -- sh
}